<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete or Else</button>
  </form>

  <!--dynamic url is needed to choose which url we want to delete-->