<% if (locals.errorMessage != null) { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>

  <!-- This was done to check if error messages were set. i saw this in a Youtube project and thought it was a fun idea -->