<!-- To be shared between new file and edit file -->

<!--to output author name-->

<label>Name</label>
    <input type="text" name="name" value="<%= author.name %>"> 
    <%- include('_form_fields') %>